/gs/Banca/nbproject/private/
/gs/Banca/build/
/gs/Banca/out/
/gs/Lambda/nbproject/private/
/gs/Lambda/build/
/gs/Lambda/out/
documents/JavaProgramming/labs/10-LambdaOperations/practices/practice1/SalesTxn10-01Prac/out/
documents/JavaProgramming/labs/10-LambdaOperations/practices/practice2/SalesTxn10-02Prac/out/
documents/JavaProgramming/labs/10-LambdaOperations/practices/practice3/SalesTxn10-03Prac/out/
documents/JavaProgramming/labs/12-DateTime/examples/LocalDateExample/out/
documents/JavaProgramming/labs/12-DateTime/examples/LocalDateTimeExample/out/
documents/JavaProgramming/labs/12-DateTime/examples/LocalTimeExample/out/
documents/JavaProgramming/labs/12-DateTime/examples/examplej10/out/production/examplej10/
documents/JavaProgramming/labs/15-Concurrency/examples/CyclicBarrierExample/out/
documents/JavaProgramming/labs/15-Concurrency/examples/ExecutorExample/out/
documents/JavaProgramming/labs/19-Localization/practices/practice1/Localized19-01Prac/out/
*.idea*
*.iml